html,
body,
#react-root {
  height: 100%;
  background-color: black;
  color: white;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  background-color: black;
  color: white;
}

img {
  display: inline-block;
  max-width: 100%;
}

.app {
  width: 400px;
  padding: 40px;
  padding-top: 70px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.chart {
  /* margin-left: 120px; */
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.technologies {
  text-align: center;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.centerTitle {
  text-align: center;
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 15px;
}

.centerChart {
  text-align: center;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 0px;

}

.alignTable {
margin-left: -10px;
text-align: center;
position: relative;
}

.align {
  padding: 5px;
  text-align: center;
  width: 700px;
  border: white;
  height: 10px;
  background-color: black;
}

.centerButton {
  text-align: center;
  margin-top: -13px;
  margin-bottom: 3px;
}

.centerText {
  text-align: center;
}
 
  
.video {
margin-left: auto;
margin-right: auto;
display: flex;
text-align: center;
position: relative;
width: 500px;
}

.container {
  padding: 20px;
  background-color: black;
  color: white;
}

.button1 {
  color: white;
  background-color: black;
  border-radius: 20px;
  width: 90px;
  height: 35px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: silver;
  text-decoration: none;
  cursor: pointer;
}

.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 50px;
  margin: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 2px black;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}








